<!DOCTYPE html>
<html>
    <header>
        <title>Lista de Perfis</title>
        <meta http-equiv=”Content-Type” content=”text/html; charset="UTF-8"″>
    </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/labmarcas/app/scripts/perfil.js"></script>

    <body>
        <table class="tbConsulta" border="1">
            <thead>
                <td>Identificador</td>
                <td>Descrição</td>
                <td>Status</td>
                <td>Ações</td>
            </thead>
            <tr>
                <td>Teste</td>
                <td>Teste</td>
                <td>Teste</td>
                <td>Teste</td>
            </tr>
            
        </table>
    
        <div><?php  echo "Olá Mundo" ?></div>




    </body>
</html>

